<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>About Veggie Shop</title>
</head>

<body>
    <header th:replace="fragments/header :: header"></header>
    <div class="about-container">
        <h1>About Veggie Shop</h1>
        <p>Welcome to Veggie Shop, your go-to destination for the freshest farm produce delivered directly to your doorstep. We are committed to providing high-quality vegetables and ready-made meals, sourced responsibly and sustainably.</p>
        <p>Our mission is to support local farmers and promote healthy eating habits within our community. We believe in transparency, quality, and customer satisfaction.</p>
        <p>Thank you for choosing Veggie Shop!</p>
        <a href="/" class="btn-menu">Back to Main Screen</a>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>